<mat-card class="application-row">
 <button mat-icon-button class="application-menu" [matMenuTriggerFor]="appMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #appMenu>
    <button mat-menu-item *ngIf="quest.questReport">
      <mat-icon>assignment</mat-icon>
      <span>Raport</span>
    </button>
    <button mat-menu-item>
      <mat-icon>search</mat-icon>
      <span>Zgłoszenia</span>
    </button>
    <button mat-menu-item>
      <mat-icon>history</mat-icon>
      <span>Aktywność</span>
    </button>
    <button mat-menu-item *ngIf="[questStatus.ASSIGNED, questStatus.FINISHED].includes(quest.status)">
      <mat-icon>attach_money</mat-icon>
      <span>Płatność</span>
    </button>
    <button mat-menu-item *ngIf="quest.status === questStatus.PUBLISHED">
      <mat-icon>cancel</mat-icon>
      <span>Anuluj</span>
    </button>
    <button mat-menu-item>
      <mat-icon>report_problem</mat-icon>
      <span>Zgłoś problem</span>
    </button>
  </mat-menu>

  <div class="row">
    <div class="col-lg-4 application-name icon-and-text">
      <a href="javascript:void(0)" routerLink="/app/quests/{{quest.id}}">{{quest.name}}
        <i class="material-icons" *ngIf="quest.questType === questType.ON_SIGHT" style="position: relative; top: 3px">directions_run</i>
        <i class="material-icons" *ngIf="quest.questType === questType.REMOTE" style="position: relative; top: 3px">laptop</i>
      </a>
    </div>
    <ng-template [ngIf]="quest.status === questStatus.PUBLISHED">
      <div class="col-lg-2">
        <div class="icon-and-text small-icon-and-text" *ngIf="quest.questType === questType.ON_SIGHT && quest.startDateTime">
          <i class="material-icons">person</i>
          <span>{{quest.statistics.applicationsNumber}} zgłoszeń</span>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="icon-and-text small-icon-and-text" *ngIf="quest.questType === questType.ON_SIGHT && quest.startDateTime">
          <i class="material-icons">question_answer</i>
          <span>{{quest.statistics.questionsNumber}} pytań</span>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="icon-and-text small-icon-and-text" *ngIf="quest.questType === questType.ON_SIGHT && quest.startDateTime">
          <i class="material-icons">visibility</i>
          <span>{{quest.statistics.viewsNumber}} odwiedzin</span>
        </div>
      </div>
    </ng-template>

    <ng-template [ngIf]="quest.status === questStatus.ASSIGNED">
      <div class="col-lg-2" *ngIf="quest.questType === questType.ON_SIGHT">
        <div class="icon-and-text small-icon-and-text" *ngIf="!quest.questReport">
          <i class="material-icons">event_available</i>
          <span>{{quest.startDateTime | date: 'yyyy-MM-dd hh:mm'}}</span>
        </div>
        <div class="icon-and-text small-icon-and-text action" *ngIf="quest.questReport" (click)="openDialogToConfirmQuestSuccess(quest)">
          <i class="material-icons" style="font-size: 30px">event_available</i>
          <span style="font-size: 14px">Zweryfikuj</span>
        </div>

      </div>
      <div class="col-lg-2" *ngIf="quest.questType === questType.ON_SIGHT">
        <div class="icon-and-text small-icon-and-text">
          <i class="material-icons">location_on</i>
          <span>{{getLocation(quest.address)}}</span>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="icon-and-text small-icon-and-text link" routerLink="/app/users/{{quest.worker.id}}">
          <img src="/files/pictures/{{quest.worker.id}}.png" onerror="this.src='/assets/user.png'">
          <span>{{quest.worker.shortName}}</span>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="icon-and-text small-icon-and-text info" *ngIf="quest.questType === questType.ON_SIGHT && quest.startDateTime">
          <i class="material-icons">attach_money</i>
          <span>{{quest.salary.salary}} {{getCurrencyLabel(quest.salary.currency)}} {{getSalaryTypeLabel(quest.salary.salaryType)}}</span>
        </div>
      </div>
    </ng-template>

    <ng-template [ngIf]="[questStatus.FINISHED, questStatus.CANCELLED, questStatus.EXPIRED].includes(quest.status)">
      <div class="col-lg-2">
        <div class="icon-and-text small-icon-and-text success" *ngIf="quest.status === questStatus.FINISHED">
          <i class="material-icons">done</i>
          <span>Wykonane</span>
        </div>
        <div class="icon-and-text small-icon-and-text error" *ngIf="quest.status !== questStatus.FINISHED">
          <i class="material-icons">cancel</i>
          <span>Anulowane</span>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="icon-and-text small-icon-and-text" *ngIf="quest.status === questStatus.FINISHED">
          <i class="material-icons">event_available</i>
          <span>{{quest.questReport.questerFinished | date: 'yyyy-MM-dd hh:mm'}}</span>
        </div>
        <div class="icon-and-text small-icon-and-text" *ngIf="quest.status === questStatus.CANCELLED">
          <span>Anulowane przez Ciebie</span>
        </div>
        <div class="icon-and-text small-icon-and-text error" *ngIf="quest.status === questStatus.EXPIRED">
          <span>Zadanie wygasło</span>
        </div>

      </div>
      <div class="col-lg-2">
        <div class="icon-and-text small-icon-and-text link" routerLink="/app/users/{{quest.worker.id}}" *ngIf="quest.status === questStatus.FINISHED">
          <img src="/files/pictures/{{quest.worker.id}}.png" onerror="this.src='/assets/user.png'">
          <span>{{quest.worker.shortName}}</span>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="icon-and-text small-icon-and-text info" *ngIf="quest.status === questStatus.FINISHED">
          <i class="material-icons">attach_money</i>
          <span>{{quest.questReport.calculatedSalary}} {{getCurrencyLabel(quest.salary.currency)}} </span>
        </div>
      </div>
    </ng-template>
  </div>
</mat-card>
