@import "../../../../../styles";

.application-menu {
  z-index: 2;
  position: absolute;
  top: 4px;
  right: 0;
  outline: none;
}

.finish-job {
  z-index: 2;
  position: absolute;
  top: 4px;
  right: 50px;
  outline: none;
  color: $default-green;
  padding: 0 4px 0 0;
  display: inline-block;
  i {
    font-size: 40px;
  }
  border: 2px solid $default-green;
  border-radius: 100px;
  transition: 0.4s;
  &:hover {
    color: white;
    background-color: $default-green;
  }
}

.see-job-status {
  z-index: 2;
  position: absolute;
  top: 4px;
  right: 50px;
  outline: none;
  color: $default-orange;
}

.job-done {
  z-index: 2;
  position: absolute;
  top: 4px;
  right: 50px;
  outline: none;
  color: $default-green;
}

.separator {
  border: 1px solid #eee;
  width: 100%;
}

.application-row {
  position: relative;
  width: 100%;
  background-color: white;
  padding: 8px 30px 8px 0;
  outline: none;
  font-size: 12px;
  border-bottom: 1px solid $darker-grey;
  margin-bottom: 10px;
}

.application-name {
  font-size: 14px;
  padding-left: 28px;

  i {
    color: $darkest-grey;
    font-size: 16px;
  }
}

.icon-and-text {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
}

.edit-application {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $default-blue;

  font-size: 11px;

  i {
    font-size: 20px;
    padding-left: 20px;
  }
}

.application-money {
  color: $default-blue;
  font-weight: bolder;
  padding-right: 30px;
  padding-left: 24px;

}

.delete-application {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $default-red;
  font-size: 11px;


  i {
    padding-left: 10px;
    font-size: 20px;
  }
}

.small-icon-and-text {
  font-size: 12px;
  color: $darkest-grey;
  padding-left: 10px;
  i {
    padding-right: 5px;
    font-size: 19px;
  }

  &.error {
    color: $default-red;
  }

  &.success {
    color: $default-green;
  }

  &.info {
    color: $default-blue;
  }

  &.action {
    cursor: pointer;
    color: $default-orange;
    animation-name: stretch;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }

  &.link {
    cursor: pointer;
  }
}

@keyframes stretch {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}


.row div[class*="col-lg-"] {
  display: flex;
}

img {
  margin-right: 5px;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  border: 1px solid $darker-grey;
}
