.publicated-quests-box {
  background-color: white;
  left: 5%;
  width: 90%;
  position: relative;
  padding: 20px 10px;
}

.separator {
  border: 1px solid #eee;
  width: 100%;
}

.type-selector {
  border: 1px solid #eee;
  margin: 20px 15px;
  padding: 20px 10px;
}

.type-selector ul {
  list-style-type: none;
  margin: 10px 0 0 0;
  padding: 0;
}

.type-selector > span {
  font-size: 16px;
  font-weight: bolder;
}

.quests-list {
  margin: 20px 15px;
}

.quests-list > .table {
  margin: 10px 0;
}

.quests-list-header {
  font-weight: bolder;
  margin-bottom: 20px !important;
  border-bottom: 2px solid #eee;
  padding-bottom: 4px;
}

input[type="checkbox"] {
  display:none;
}

input[type="checkbox"] + label {
  cursor: pointer;
}

label {
  font-weight: lighter;
  font-size: 12px;
}

.account-quest-row {
  padding: 8px 0px;
  transition: 0.4s;
  margin: 0 !important;
  border-radius: 5px;
  cursor: pointer;
}

.account-quest-row:hover {
  background-color: #f8f8f8;
}

.extra-status {
  color: #f08e16;
  font-weight: bolder;
}
