<div class="container-fluid default-domyjob-container my-application-container">
  <app-spinner *ngIf="loading"></app-spinner>
  <h1 class="default-domyjob-header my-application-header">Moje zadania</h1>
  <div class="separator"></div>
  <app-search (onSearchEmitter)="onSearch($event)"></app-search>

  <ng-template [ngIf]="anyResults()">
    <mat-expansion-panel #assigned (opened)="getAssignedQuests()" [disabled]="shouldDisable(assignedQuests, accountQuestStatus.ASSIGNED)">
      <mat-expansion-panel-header>
        <span>Przypisane ({{getQuestsLength(assignedQuests, accountQuestStatus.ASSIGNED)}})</span>
      </mat-expansion-panel-header>

      <div *ngIf="assignedQuests.length > 0">
        <app-my-quest-row *ngFor="let quest of assignedQuests" [quest]="quest" (actionEmitter)="handleEvent($event, quest)"></app-my-quest-row>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel #awaiting style="margin-top: 10px" [disabled]="shouldDisable(awaitingQuests, accountQuestStatus.AWAITING)" (opened)="getAwaitingQuests()">
      <mat-expansion-panel-header>
        <span>Oczekujące ({{getQuestsLength(awaitingQuests, accountQuestStatus.AWAITING)}})</span>
      </mat-expansion-panel-header>

      <div *ngIf="awaitingQuests.length > 0">
        <app-my-quest-row *ngFor="let quest of awaitingQuests" [quest]="quest" (actionEmitter)="handleEvent($event, quest)"></app-my-quest-row>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel #historical style="margin-top: 10px" (opened)="getHistoricalQuests()" [disabled]="shouldDisable(historicalQuests, accountQuestStatus.HISTORICAL)">
      <mat-expansion-panel-header>
        Historyczne ({{getQuestsLength(historicalQuests, accountQuestStatus.HISTORICAL)}})
      </mat-expansion-panel-header>
      <form [formGroup]="statusesForm">
        <mat-checkbox color="accent" formControlName="finished" style="margin-right: 30px" [disabled]="shouldDisableStatus([questStatusEnum.FINISHED])" >
          <span>Wykonane ({{getQuestsNumberWithStatus([questStatusEnum.FINISHED])}})</span>
        </mat-checkbox>
        <mat-checkbox color="accent" formControlName="cancelled" style="margin-right: 30px" [disabled]="shouldDisableStatus([questStatusEnum.CANCELLED, questStatusEnum.EXPIRED])">
          <span>Anulowane ({{getQuestsNumberWithStatus([questStatusEnum.CANCELLED, questStatusEnum.EXPIRED])}})</span>
        </mat-checkbox>
      </form>

      <div *ngIf="historicalQuests.length > 0">
        <app-my-quest-row *ngFor="let quest of historicalQuests" [quest]="quest" (actionEmitter)="handleEvent($event, quest)"></app-my-quest-row>
      </div>
    </mat-expansion-panel>
  </ng-template>
  <ng-template [ngIf]="!anyResults()">
    <div *ngIf="hasAnyQuestsInGeneral(); else notSingleOne">
      Żadne zadanie nie spełnia kryteriów wyszukiwania.
    </div>
    <ng-template #notSingleOne>
      <div>
        Nie utworzyłeś jeszcze żadnego zadania. Możesz to zrobić klikająć <a href="javascript:void(0)" routerLink="/app/quests/create">tutaj.</a>
      </div>
    </ng-template>
  </ng-template>
</div>
