@import "../../../domyjob-theme";

.full-width {
  max-width: 400px;
  width: 100%;
  margin-bottom: 25px;
}

.help {
  font-size: 22px;
  color: $darkest-grey;
  cursor: help;
  position: relative;
  top: 3px;
}

.registration-successful {
  padding-bottom: 15px;
}
