<div class="box-view">
  <div class="box-view-header">
    <h1 translate>registration.header</h1>
    <div *ngIf="!registrationSuccessfull">{{ 'registration.not-logged-in.note' | translate }} <a routerLink="{{'/login'}}" href="javascript:void(0)" class="akam-primary-link" translate>registration.not-logged-in.link</a></div>
  </div>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" *ngIf="!registrationSuccessfull; else registrationSuccessfullTemplate">
    <mat-form-field class="full-width" >
      <input matInput [errorStateMatcher]="matcher" placeholder="{{'registration.email' | translate}}" formControlName="email">
      <mat-error *ngIf="registerForm.get('email').hasError('required')" translate>form-errors.required-field</mat-error>
      <mat-error *ngIf="registerForm.get('email').hasError('email')" translate>form-errors.email-address</mat-error>
      <mat-error *ngIf="registerForm.get('email').hasError('duplicate')" translate>form-errors.email-duplicate</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput [errorStateMatcher]="matcher" placeholder="{{'registration.name' | translate}}" formControlName="name">
      <mat-error *ngIf="registerForm.get('name').hasError('required')" translate>form-errors.required-field</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput [errorStateMatcher]="matcher" placeholder="{{'registration.surname' | translate}}" formControlName="surname">
      <mat-error *ngIf="registerForm.get('surname').hasError('required')" translate>form-errors.required-field</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput [errorStateMatcher]="matcher" placeholder="{{'registration.location' | translate}}" formControlName="location"
             autocomplete="off" spellcheck="false" type="text" #location>
      <mat-error *ngIf="registerForm.get('location').hasError('required')" translate>form-errors.required-field</mat-error>
      <mat-error *ngIf="!registerForm.get('location').hasError('required') && registerForm.get('location').hasError('notSelected')" translate>
        form-errors.location
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input type="password" matInput [errorStateMatcher]="matcher" placeholder="{{'registration.password' | translate}}" formControlName="password">
      <mat-error *ngIf="registerForm.get('password').hasError('required')" translate>form-errors.required-field</mat-error>
      <mat-error *ngIf="registerForm.get('password').hasError('pattern')" translate>form-errors.password</mat-error>

    </mat-form-field>

    <mat-form-field class="full-width">
      <input type="password" matInput [errorStateMatcher]="matcher" placeholder="{{'registration.repeat-password' | translate}}" formControlName="repeatPassword">
      <mat-error *ngIf="registerForm.get('repeatPassword').hasError('required')" translate>form-errors.required-field</mat-error>
      <mat-error *ngIf="registerForm.get('repeatPassword').hasError('passwords')" translate>form-errors.password-repeat</mat-error>
    </mat-form-field>

    <div class="full-width" style="display: inline-block">
      <div style="text-align: left; margin-bottom: 8px">
        <span>{{'registration.account-type' | translate }}</span>
        <i class="material-icons help" (click)="tooltip.show()">help_outline</i>
        <span matTooltip="{{'registration.account-type-help' | translate}}" matTooltipPosition="right" #tooltip="matTooltip"></span>
      </div>
      <mat-radio-group style="display: flex; justify-content: space-between" formControlName="accountType">
        <mat-radio-button [value]="accountType.EMPLOYEE">{{'registration.account-types.employee' | translate }}</mat-radio-button>
        <mat-radio-button [value]="accountType.EMPLOYER">{{'registration.account-types.employer' | translate }}</mat-radio-button>
        <mat-radio-button [value]="accountType.BOTH">{{'registration.account-types.both' | translate }}</mat-radio-button>
      </mat-radio-group>
    </div>

    <div>
      <button type="submit" class="primary-button full-width" [disabled]="!isFormValid()">
        {{'registration.register' | translate}}
      </button>
    </div>
  </form>
  <ng-template #registrationSuccessfullTemplate>
    <div class="registration-successful">
      <h4 translate>registration.thanks</h4>
      <div translate>registration.email-sent</div>
      <a href="javascript:void(0)" class="akam-primary-link" routerLink="{{'/'}}" translate>registration.return-to-main-page</a>
    </div>
  </ng-template>

</div>
