<div class="side-menu">
  <h4 class="name" (click)="goToUserProfile()">
    <span class="photo-mock"></span>
    <span>{{userName}}</span>
  </h4>
  <div class="separator"></div>

  <ul class="navigation-list">

    <li class="section-header">Zarabiam</li>
    <app-side-menu-item [primary]="true" [icon]="'list'" [label]="'menu.search-quests'" [path]="'/app/quests'"></app-side-menu-item>
    <app-side-menu-item [icon]="'work'" [label]="'menu.my-works'" [path]="'/app/account/my-jobs'"></app-side-menu-item>
    <app-side-menu-item [icon]="'event_note'" [label]="'menu.my-proposals'" [path]="'/app/account/proposals'"></app-side-menu-item>
    <app-side-menu-item [icon]="'info'" [label]="'menu.info'" [path]="'/info'"></app-side-menu-item>

    <li class="section-header">Zlecam</li>
    <app-side-menu-item [primary]="true" [label]="'menu.create-quest'" [icon]="'add_box'" [path]="'/app/quests/create'"></app-side-menu-item>
    <app-side-menu-item [icon]="'weekend'" [label]="'menu.my-quests'" [path]="'/app/account/quests'"></app-side-menu-item>
    <app-side-menu-item [icon]="'info'" [label]="'menu.info'" [path]="'/info'"></app-side-menu-item>
    <li class="space"></li>

    <app-side-menu-item [icon]="'attach_money'" [label]="'menu.payments'" [path]="'/app/account/finances'"></app-side-menu-item>
    <app-side-menu-item [icon]="'star_rate'" [label]="'menu.ratings'" [path]="'/app/account/ratings'"></app-side-menu-item>
  </ul>

</div>
