@import "../../../../domyjob-theme";

.name {
  margin-left: 5px;
  cursor: pointer;
}

.side-menu {
  padding: 15px 30px 15px 0;
  margin: 10px;
}

.navigation-list {
  list-style: none;
  padding: 0 0 5px;

  .space {
    height: 1px;
    background-color: transparent;
    width: 100%;
    margin: 8px 0;
  }

  li {
    width: 100%;
  }
}

.section-header {
  margin-top: 25px;
  margin-left: 8px;
  font-size: 16px;
  font-weight: bolder;
}

.photo-mock {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 100px;
  position: relative;
  top: 6px;
  z-index: 2;
  background: white url('../../../../assets/user-100.png');
}
