<li>
  <button mat-button
          color="{{getColor()}}"
          [ngClass]="{'primary': primary, 'active': active}"
          routerLink="{{path}}">
    <i class="material-icons">{{icon}}</i><span>{{label | translate}}</span>
  </button>
</li>
