@import "../../../../../domyjob-theme";

.mat-button {
  margin: 0;
  padding: 0 10px 0 5px;
  text-align: left;
  width: 100%;

}

.primary {
  font-size: 15px;
}

.active {
  background-color: rgba(255,255,255, 0.8);
}

i {
  margin-bottom: 3px;
  padding-right: 10px;
  width: 40px;
}
